.sort-button-container {
    display: inline-block;
    cursor: pointer;
    margin: 10px;
  }
  
  .sort-button-image {
    width: 32px; /* Adjust size as needed */
    height: 32px;
    transition: transform 0.2s;
  }
  
  .sort-button-container:hover .sort-button-image {
    transform: scale(1.1); /* Slight zoom on hover */
  }
  
  .sort-text {
    color: #908d96;
  }
  