.top-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  color: #908d96;
}

.line {
  flex: 1;
  height: 5px;
  background-color: #333;
  margin: 0 20px;
}

.content {
  text-decoration: none;
  color: #908d96;
}
