.PMList {
  color: #908d96;
}

.PMListContainer {
  width: 100%;
}

.custom-number {
  display: flex;
  align-items: center;
  margin-right: 0.5rem; /* Adjust space between the number and the expandable box */
  font-weight: bold;
}

.custom-list-item {
  display: flex;
  align-items: center; /* Align custom number and expandable box vertically */
  margin-bottom: 1rem; /* Adds spacing between list items */
}

.custom-number {
  margin-right: 1rem; /* Adjust the space between the number and the expandable box */
  font-weight: bold;
  font-size: 1.2rem;
}

.sort-button-container {
  display: inline-block;
  cursor: pointer;
  margin: 10px;
}

.sort-button-image {
  width: 32px; /* Adjust size as needed */
  height: 32px;
  transition: transform 0.2s;
}

.sort-button-container:hover .sort-button-image {
  transform: scale(1.1); /* Slight zoom on hover */
}

.sort-text {
  color: #908d96;
}
