.ContactContainer{
    color: #908d96;
}

.ContactTitle {
    margin-left: 20%;
    text-decoration: underline;
}

.ContactBody {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SocialBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.SocialBlock img {
    height: 50px;
    width: 50px;
}

.SocialBlock a {
    padding-right: 3%;
}

