@keyframes fadeIn {
  from {
    opacity: 0; /* Start fully transparent */
  }
  to {
    opacity: 1; /* End fully opaque */
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: flex-start;
  height: 100vh;
  animation: fadeIn 1s ease-in; /* Apply fade-in animation */
}

.image-container {
  position: relative;
  width: 30vw; /* Width relative to viewport width */
  height: auto; /* Maintain aspect ratio */
  margin-bottom: 5vh; /* Margin to give space below the image */
}

.image-container::before {
  content: ""; /* Required for pseudo-elements */
  position: absolute; /* Position it absolutely */
  margin-top: 15vh;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  width: 50vh; /* Width of the spotlight effect */
  height: 50vh; /* Height of the spotlight effect */
  border-radius: 50%; /* Make it a circle */
  background: radial-gradient(
    circle,
    rgba(128, 0, 0, 0.5) 0%,
    rgba(144, 141, 150, 0) 70%
  ); /* Radial gradient */
  transform: translate(-50%, -75%); /* Center the spotlight */
  z-index: 0; /* Send it to the back */
}

.masonic-image {
  width: 100%; /* Adjust the size of the image as needed */
  height: auto; /* Maintain aspect ratio */
  display: block;
  z-index: 1; /* Bring the image above the spotlight */
}

/* Container for links */
.links {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

/* individual link styles */
.link {
  position: absolute;
  margin: 10px 0; /* Space between links */
  text-decoration: none; 
  color: #908d96; 
  font-size: 2.9vw; 
  transition: color 0.3s; 
}

.link-top-left {
  transform: translate(-100%, -600%); 
  left: 5%; 
  top: 0; 
}

.link-bottom-right {
  transform: translate(115%, -330%); 
  right: 20%; 
  top: 25%; 
}

.link-top-right {
  transform: translate(120%, -600%); 
  left: 50%;
  top: 0;
}

.link-bottom-left {
  transform: translate(-130%, -350%); 
  right: 20%; 
  top: 25%;
}

.link-bottom-middle {
  transform: translate(13%, -320%); 
  right: 20%; 
  top: 75%;
}

.link:hover {
  color: #b8860b; /* Change color on hover (use an accent color) */
}

.spotlight {
  width: 300px; /* Width of the spotlight */
  height: 300px; /* Height of the spotlight */
  border-radius: 50%; /* Make it a circle */
  background: radial-gradient(
    circle,
    #908d96 0%,
    rgba(144, 141, 150, 0) 70%
  ); /* Radial gradient */
}
