@keyframes fadeIn {
    from {
      opacity: 0; /* Start fully transparent */
    }
    to {
      opacity: 1; /* End fully opaque */
    }
  }

.container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    height: 100vh; 
    animation: fadeIn 1s ease-in; /* Apply fade-in animation */
  }

  .image-container {
    position: relative; /* Enable absolute positioning for links */
  }

  .image-container::before {
    content: ''; /* Required for pseudo-elements */
    position: absolute; /* Position it absolutely */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    width: 600px; /* Width of the spotlight effect */
    height: 600px; /* Height of the spotlight effect */
    border-radius: 50%; /* Make it a circle */
    background: radial-gradient(circle, rgba(128, 0, 0, 0.5) 0%, rgba(144, 141, 150, 0) 70%); /* Radial gradient */
    transform: translate(-50%, -75%); /* Center the spotlight */
    z-index: 0; /* Send it to the back */
  }
  
  .masonic-image {
    width: 500px; /* Adjust the size of the image as needed */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 20px; /* Space between the image and links */
    z-index: 1; /* Bring the image above the spotlight */
  }
  
  .links {
    display: flex;
    flex-direction: column; /* Stack links vertically */
    align-items: center; /* Center links */
    z-index: 2; /* Bring the links above the spotlight */
  }
  
  .link {
    margin: 10px 0; /* Space between links */
    text-decoration: none; /* Remove underline */
    color: #908d96; /* Text color */
    font-size: 60px; /* Adjust font size */
    transition: color 0.3s; /* Smooth color transition */
  }

  .link-top-left {
    transform: translate(-100%, -465%); /* Move to the left point */
    left: 25%; /* Adjust as necessary */
    top: 15%; /* Adjust as necessary */
  }
  
  .link-bottom-right {
    transform: translate(85%, -490%); /* Move to the right point */
    right: 25%; /* Adjust as necessary */
    top: 15%; /* Adjust as necessary */
  }
  
  .link-top-right {
    transform: translate(120%, -590%); /* Move to the top point */
    left: 50%;
    top: 5%; /* Adjust as necessary */
  }
  
  .link-bottom-left {
    transform: translate(-90%, -375%); /* Move to the bottom point */
    left: 50%;
    bottom: 5%; /* Adjust as necessary */
  }
  
  .link:hover {
    color: #B8860B; /* Change color on hover (use an accent color) */
  }

  .spotlight {
    width: 300px; /* Width of the spotlight */
    height: 300px; /* Height of the spotlight */
    border-radius: 50%; /* Make it a circle */
    background: radial-gradient(circle, #908d96 0%, rgba(144, 141, 150, 0) 70%); /* Radial gradient */
  }
  